<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuxiaolong.common">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".activity.ButterKnifeActivity"></activity>
    </application>

</manifest>